:root {
  --heading-font: "Unbounded", cursive;
  --paragraph-font: "Poppins", sans-serif;
  --primary-color: #c786ed;
  --background-color: #eeff70;
}

h1,
h2 {
  font-family: var(--heading-font);
  color: black;
  font-weight: 300;
  font-size: 70px;
  line-height: 90px;
}

h3 {
  font-family: var(--heading-font);
  color: black;
  font-weight: 300;
  font-size: 25px;
}

h4 {
  font-family: var(--heading-font);
  color: rgba(0, 0, 0, 0.6);
  font-weight: 300;
  font-size: 15px;
}

a {
  font-family: var(--paragraph-font);
  color: black;
  text-decoration: underline;
  font-size: 16px;
}

a:hover {
  text-decoration: underline;
  color: var(--primary-color);
}

p {
  font-family: var(--heading-font);
  font-weight: 300;
  font-size: 20px;
  line-height: 35px;
  color: black;
}

footer {
  padding: 40px 0 20px 0;
  margin: 60px 60px 0 60px;
  text-align: center;
  color: black;
  font-family: var(--paragraph-font);
  font-size: 12px;
  font-weight: 300;
  border-top: 1px solid rgb(0, 0, 0, 0.5);
}

footer a,
.coded-by a {
  font-size: 12px;
  text-decoration: none;
}

footer .social-links {
  margin-bottom: 50px;
}
footer .social-links a {
  font-size: 22px;
  margin: 0 15px;
}

footer .email-link {
  font-family: var(--heading-font);
  font-weight: 300;
  font-size: 18px;
}

.coded-by {
  padding: 20px;
  text-align: center;
  color: black;
  font-family: var(--paragraph-font);
  font-size: 12px;
  font-weight: 300;
  background-color: var(--background-color);
}

.project-card a {
  text-decoration: none;
}

.project-card img:hover {
  transition: all 400ms ease-in-out;
  box-shadow: 0 0 0 10px var(--background-color);
}

.hero {
  padding: 200px 60px 50px 60px;
  margin-bottom: 60px;
  background-color: var(--background-color);
}

.hero h1 {
  text-align: left;
}

.hero h2 {
  text-align: right;
}

.hero p {
  font-family: var(--heading-font);
  font-weight: 300;
  font-size: 25px;
  max-width: 650px;
  color: black;
}

.hero a {
  font-family: var(--paragraph-font);
  font-size: 16px;
  color: black;
}

.hero a:hover {
  font-family: var(--paragraph-font);
  text-decoration: underline;
  color: var(--primary-color);
}

.container {
  display: block;
  max-width: 100%;
  padding: 0 60px;
}

.section-fill {
  background-color: var(--background-color);
}

.logo {
  max-height: 40px;
}

nav {
  padding-top: 30px;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  margin-left: 25px;
}

nav a {
  text-decoration: none;
  font-family: var(--heading-font);
  font-weight: 300;
  font-size: 15px;
  line-height: 58px;
}

nav a:hover {
  color: black;
}

nav li.active a {
  text-decoration: underline;
}

.content-section {
  padding: 160px 60px 60px 60px;
  margin-bottom: 80px;
  background-color: var(--background-color);
}

.content-section h2 {
  font-family: var(--heading-font);
  font-weight: 300;
  font-size: 35px;
  line-height: 50px;
}

.content-section p {
  font-family: var(--heading-font);
  font-weight: 300;
  font-size: 20px;
  line-height: 35px;
  color: black;
  max-width: 650px;
}

.contact-container {
  padding-bottom: 300px;
}

.content-section-description {
  margin-top: 50px;
}

.content-section-book {
  padding: 160px 60px 60px 60px;
  margin-bottom: 20px;
}

.about-img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 960px) {
  h1 {
    font-size: 50px;
    line-height: 65px;
    padding-top: 50px;
  }

  .hero h2 {
    font-size: 50px;
    line-height: 65px;
  }

  .hero p {
    font-size: 18px;
    max-width: 450px;
  }
  .hero {
    padding: 100px 60px 50px 60px;
  }

  .content-section-description {
    margin-top: 0;
  }
  .content-section h2 {
    font-size: 28px;
    line-height: 40px;
  }

  .content-section p {
    font-size: 18px;
  }

  .contact-container {
    padding-bottom: 100px;
  }
}
