:root {
  --heading-font: "Unbounded", cursive;
  --paragraph-font: "Poppins", sans-serif;
  --primary-color: #c786ed;
  --background-color: #eeff70;
}

h1,
h2 {
  font-family: var(--heading-font);
  color: black;
  font-weight: 300;
  font-size: 70px;
  line-height: 100px;
}

h3 {
  font-family: var(--heading-font);
  color: black;
  font-weight: 300;
  font-size: 25px;
}

h4 {
  font-family: var(--heading-font);
  color: rgba(0, 0, 0, 0.6);
  font-weight: 300;
  font-size: 15px;
}

a {
  color: black;
  text-decoration: none;
  font-size: 13px;
}

a:hover {
  text-decoration: underline;
  color: var(--primary-color);
}

footer {
  padding: 30px;
  margin: 0 60px;
  text-align: center;
  color: black;
  font-family: var(--paragraph-font);
  font-size: 12px;
  font-weight: 300;
  border-top: 1px solid rgb(0, 0, 0, 0.5);
}

.project-card a {
  text-decoration: none;
}

.project-card img:hover {
  transition: all 400ms ease-in-out;
  box-shadow: 0 0 0 10px var(--background-color);
}

.hero {
  padding: 100px 60px 40px 60px;
  background-color: var(--background-color);
}

.hero h1 {
  text-align: left;
}

.hero h2 {
  text-align: right;
}

.hero p {
  font-family: var(--heading-font);
  font-weight: 300;
  font-size: 25px;
  max-width: 650px;
}

.hero a {
  font-family: var(--paragraph-font);
  font-size: 15px;
  text-decoration: underline;
  color: black;
}

.container {
  display: block;
  max-width: 100%;
  padding: 60px;
}

@media (max-width: 960px) {
  h1,
  h2 {
    font-size: 50px;
    line-height: 65px;
  }

  .hero p {
    font-size: 18px;
    max-width: 450px;
  }
  .hero {
    padding: 50px 50px 30px 50px;
  }
}
